*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(../img/2.jpg);
background-size: cover;
font-family: Ebrima;
}

.box{
	width: 410px;
	background: rgba(169, 204, 227, 0.5);
margin: 0 auto;
margin-top: 4%;
padding: 20px;
color: white;
text-align: center;
border-radius: 10px;
}

.image-box{
	width: 180px;
	height: 200px;
	border-radius: 50%;
}

.box h1 { font-size:40px; 
letter-spacing: 4px;
font-weight: 600;
margin-bottom: 10px;color:powderblue;
}

.box h3 {font-size:25px; 
letter-spacing: 4px;
font-weight: 600;
margin-bottom: 10px;

}


.box p{ text-align: justify;

}

.box ul{
	list-style:none;
	margin-top: 12px;
}

.box ul li{
	display: inline-block;
}

.box ul li a {
	color: whitesmoke;
	font-size: 30px;
	padding: 10px 8px;
	display: block;
	transition: all 0.7s ease-in-out;
}

.box ul li a:hover{
	color: skyblue;
	transform: scale(1.4);
}
header {
	position: relative;
	height: auto;

}

header .menu{
	background: rgba(0, 0, 0, 0.7);
	overflow: hidden;

}
header .logo{
	color: rgba(254, 254, 254, 0.8);
	float: left;
	font-size: 2px;
	line-height: 3px;
	color: white;
	font-size: 40px;
}

header nav{
	float: right;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float: left;
}
header nav ul li a{
	color: rgba(242, 243, 244, 0.7);
	text-decoration: none;
	display: block;
	font-size: 21px;
	padding: 0 25px;
	line-height: 70px; /*el tamaño de altura del nav*/
}

header nav ul li:hover{
		color: rgba(254, 254, 254, 0.8);
}


header nav ul li a:hover{
	color: #ffffff;
	font-weight: 600;

}
